* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__tasks-zero {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    color: #c9d1d3;
    text-align: center;
  }

  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
  }
}

.button {
  color: #fff;
  background-color: #4dd599;
  border-radius: 4px;
  border: 0;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: darken($color: #4dd599, $amount: 6%);
  }

  &:active {
    background-color: darken($color: #4dd599, $amount: 10%);
  }

  &:disabled {
    background-color: #c9c9c9;
  }

  &-gray {
    background-color: #f4f6f8;
    color: #9c9c9c;

    &:hover {
      background-color: darken($color: #f4f6f8, $amount: 6%);
      color: lighten(#9c9c9c, 60%);
    }

    &:active {
      background-color: darken($color: #f4f6f8, $amount: 10%);
    }
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #dbdbdb;
  }
}
